* {
  font-family: sans-serif;
}

.content-table {
  margin-top: 50px;
  border-collapse: collapse;
  margin-left: 300px;
  font-size: 0.9em;
  min-width: 900px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #455a64;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.logo {
  position: absolute;
  width: 100px;
  height: 100px;
}
.logo-title {
  position: absolute;
  color: black;
  text-decoration: none;
  margin-top: 120px;
}
.functions {
  margin-top: 50px;
  text-align: center;
}
.funcstions_each {
  display: inline;
  margin: 0 50px;
}
.labelInput {
  margin: 0 15px;
  display: inline-block;
}
.button {
  padding: 5px 15px;
  margin-top: 30px;
}
.button:hover {
  color: #455a64;
}

.desc_label {
  vertical-align: top;
}

.desc {
   margin-top: 50px;
}

.desc_input {
  width: 300px;
  height: 100px;
}

.link_lab {
  margin-top: 20px;
}